*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}





#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 9999;
}
.hidden {
    display: none;
}




.cursor{
    width: 20px;
    height: 20px;
    background-color: rgba(181, 180, 180, 0.756);
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

a{
    text-decoration: none;
}
*::selection{
    background-color: #111;
    color: #cccccc;
}



/* page 1 css */ 

.page1{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 1rem;
    padding-top: 20vh;
}
.page1 h1{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 900;
    letter-spacing: -20px;
    text-transform: uppercase;
    font-size: 15vw;
    line-height: 14vw;
    height: 100%;
    
}
.page1 .video-cont{
    margin-top: 1rem;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.page1 .video-cont video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    display: block;
}
.page1 .video-cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    display: none;
}
.page1 .video-cont .play{
    background-color: #111;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem 1rem;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 90;
}

/* page 2 css */

.page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    margin-top: 5rem;
    border-top: #111 solid 2px;
}
.page2 .elem{
    height: 100%;
    width: 32%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.page2 .elem .box{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(192, 201, 255);
    position: absolute;
    transition: all 1s ease;
    overflow: hidden;
}
.page2 .elem .box:hover{
    height: 220px;
    transition: all ease 0.9s;
    border-radius: 20px;
}

.page2 .elem .box h3{
margin: 12px 10px;
}

/* page 3 css */

.page3{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
}
.page3 .leftdiv{
    width: 60%;
    height: 40%;
    float: left;
    
}
.page3 .rightdiv{
    float: right;
    width: 40%;
    height: 40%;
    
}
.page3 .leftdiv h1{
    font-size: 4vw;
    padding: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -2px;
}
.page3 .rightdiv p{
    font-size: 2vw;
    padding: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* page 4 css */

.page4 {
    height: 80vh;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.page4 .product{
    width: 30%;
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    flex-direction: column;
}
.page4 .product img{
    width: auto;
    height: 70%;
    box-sizing: border-box;
    
    
}

/* page 5 css */

.page5{
    height: 100vh;
    width: 100vw;
    padding: 5rem 1rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page5 .one_elem_left{
    float: left;
    width: 50%;
    height: auto;
    text-align: left;
}
.page5 .one_elem_left h3{
    font-weight: 500;
    font-size: 4vmin;
    padding-left: 1rem;
    padding-right: 1rem;
    
}
.page5 .two_elem_right{
    float: right;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    display: flex;
    justify-content:center;
    align-items:center;
}
.page5 .two_elem_right img{
    width: 80%;
    height: 75%;
    border-radius: 5%;
}

/* page 6 css */

.page6{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #111;
    display: flex;
}

.page6 .last_left{
    width: 50%;
    height: 100%;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page6 .last_left .social{
    font-size: 6vmin;
    color: dimgray;
    cursor: pointer;
}
.page6 .last_left .social span:hover{
    letter-spacing: 3px;
}
.page6 .last_left .ri-linkedin-line:hover{
    color: #94b1f6;
}
.page6 .last_left .ri-github-line:hover{
    color: #ebf1ff;
}
.page6 .last_left .ri-instagram-line:hover{
    color: #ad68dc;
}
.page6 .last_left .ri-facebook-line:hover{
    color: #204cb5;
}
.page6 .last_left .social span{
    color: #fff;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.page6 .last_right{
    width: 50%;
    height: 100%;
    float: right;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page6 .last_right p{
    font-size: 3vmin;

}

/* navbar css */


nav{
    background-color: #111;
    color: #fff;
    position: fixed;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
}
nav .nav1 p{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 5px;
    cursor: pointer;
}
nav .nav2 i{
    color: #a7a5a5;
    cursor: pointer;
}
nav .nav2{
    display: flex;
    gap: 30px;
    padding: 1rem;
}
nav .nav2 .ri-linkedin-line:hover{
    color: #94b1f6;
    scale: 1.2;
}
nav .nav2 .ri-github-line:hover{
    color: #ebf1ff;
    scale: 1.2;
}
nav .nav2 .ri-instagram-line:hover{
    color: #ad68dc;
    scale: 1.2;
}
nav .nav2 .ri-facebook-line:hover{
    color: #204cb5;
    scale: 1.2;
}
/* responsive css  */

/* page 1 responsive css */

@media (min-width:1800px) {
    .page5 .two_elem_right img{
        width: 60%;
        height: 110%;
        scale: 0.8;
        border-radius: 5%;
    }
}
@media (min-width:1400px) {
    .page5 .two_elem_right img{
        width: 70%;
        height: 100%;
        scale: 0.8;
        border-radius: 5%;
    }
    .page5 .one_elem_left h3{
        font-size: 2.5vw;
    }
}
@media (max-width:1400px) {
    .page5 .one_elem_left h3{
        font-size: 2.5vw;
    }
    .page5 .two_elem_right img{
        width: 100%;
        height: 90%;
        scale: 0.8;
        border-radius: 5%;
    }
    .page5{
        height: auto;
    }
}
@media (max-width : 850px) {

    /* page 1 responsive css */

    .page1{
        padding: 0 0.5rem;
        padding-top: 20vh;
    }
    .page1 h1{
        letter-spacing: -10px;
    }

    .page3{
        height: auto;
    }
    .page5 .one_elem_left h3{
        font-size: 2vh;
    }
    .page5 .two_elem_right img{
        width: 100%;
        height: 70%;
    }
    .page5 .one_elem_left{
        height: auto;
    }
    .page5 .two_elem_right{
        height: auto;
    }
    .page5{
        height: auto;
    }

}

@media (max-width : 600px) {
    .play{
        display: none;
    }
    .cursor{
        display: none;
    }
    .page1 .video-cont video{
        display: none;
    }
    .page1 .video-cont img{
        display: block;
    }
    .page1 .video-cont{
        height: 60vh;
    }
    .page2{
        height: 90vh;
        width: 100%;
        display:inline-block;
        padding: 0rem 0.5rem;
        border-top: #111 solid 2px;
        margin-top: 2rem;
    }
    .page2 .elem{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #111;
    }
    
    .page2 .elem img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .page2 .elem .box:hover{
        height: 150px;
        transition: all ease 0.9s;
        border-radius: 20px;
    }

    .page3{
        height: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 2rem 1rem;
    }
    .page3 .leftdiv{
        width: 100%;
        height: 40%;
        
    }
    .page3 .rightdiv{
        width: 100%;
        height: 40%;
        
    }
    .page3 .leftdiv h1{
        font-size: 5vw;
        padding: 0.5rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 1px;
    }
    .page3 .rightdiv p{
        font-size: 3vw;
        padding: 0.5rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
    }
    .page4{
        height: 120vh;
        padding: 3rem 0rem;
    }
    .page4 h3{
        font-size: 1rem;
        letter-spacing: -1px;
    }
    .page5{
        height: 100vh;
        overflow: scroll;
        display: block;
        -webkit-overflow-scrolling: touch;
    }
    .page5::-webkit-scrollbar {
        display: none;
      }
    .page5 .one_elem_left{
        width: 100%;
        height: auto;
        padding-bottom: 5rem;
        text-align: left;
    }
    .page5 .one_elem_left h3{
        font-weight: 500;
        font-size: 4vmin;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .page5 .two_elem_right{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        object-fit: cover;
    }
    .page5 .two_elem_right img{
        width: 60%;
        height: 70%;
        scale: 1;
        border-radius: 5%;
    }
    .page6{
        display: block;
    }
    .page6 .last_left{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
    
    .page6 .last_left .social{
        font-size: 3.5vmin;
        color: dimgray;
        cursor: pointer;
        display: flex;
    }
    .page6 .last_left .social span{
        color: #fff;
        font-size: 0.8rem;
        font-weight: 200;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin-left: 5px;
    }
    .page6 .last_right{
        width: 100%;
        height: auto;
        padding: 1rem 2rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: start;
        
    }
    .page6 .last_right p{
        font-size: 4vmin;
    
    }  
    
    nav .nav2{
        gap: 20px;
    }
}
@media (max-width : 500px) {
    .play{
        display: none;
    }
    .cursor{
        display: none;
    }
    .page1 h1{
        letter-spacing: -5px;
    }
    .page3{
        height: auto;
    }
    .page4{
        height: 80vh;
        padding-top: 1rem;
    }
    .page5{
        height: 80vh;
    }
    .page5 .two_elem_right{
        height: auto;
    }
    .page5 .two_elem_right img{
        width: 50%;
        height: 50%;
    }
}

